In [5]:
!pip install bokeh

Requirement already satisfied: bokeh in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (3.7.2)
Requirement already satisfied: Jinja2>=2.9 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from bokeh) (3.1.4)
Requirement already satisfied: contourpy>=1.2 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from bokeh) (1.3.1)
Requirement already satisfied: narwhals>=1.13 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from bokeh) (1.33.0)
Requirement already satisfied: numpy>=1.16 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from bokeh) (2.1.3)
Requirement already satisfied: packaging>=16.8 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from bokeh) (24.2)
Requirement already satisfied: pandas>=1.2 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from bokeh) (2.2.3)
Requirement already satisfied: pillow>=7.1.0 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from bokeh) (11.0.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from bokeh) (6.0.2)
Requirement already satisfied: tornado>=6.2 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from bokeh) (6.4.2)
Requirement already satisfied: xyzservices>=2021.09.1 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from bokeh) (2025.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from Jinja2>=2.9->bokeh) (3.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->bokeh) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->bokeh) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->bokeh) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\mateu\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2->bokeh) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd

from bokeh.plotting import figure
from bokeh.io import output_file, show

In [9]:
nba = pd.read_csv("datasets/nba.csv")

In [10]:
nba.head()

,player,position,minutes,field_goal_perc,three_point_perc,free_throw_perc,rebounds,assists,steals,blocks,points,team,conference,scorer_category
0,Russell Westbrook,PG,34.6,0.425,0.343,0.845,10.7,10.4,1.6,0.4,31.6,OKC,West,High Scorer
1,James Harden,PG,36.4,0.440,0.347,0.847,8.1,11.2,1.5,0.5,29.1,HOU,West,High Scorer
2,Isaiah Thomas,PG,33.8,0.463,0.379,0.909,2.7,5.9,0.9,0.2,28.9,BOS,East,High Scorer
3,Anthony Davis,C,36.1,0.505,0.299,0.802,11.8,2.1,1.3,2.2,28.0,NO,West,High Scorer
4,DeMar DeRozan,SG,35.4,0.467,0.266,0.842,5.2,3.9,1.1,0.2,27.3,TOR,East,High Scorer

In [14]:
fig = figure(
    x_axis_label="Blocks per Game",
    y_axis_label="Rebounds per Game"
)

#glyphs
fig.circle(x=nba["blocks"], y=nba["rebounds"], radius=0.01)


output_file(filename="bokeh_plot.html")
show(fig)

In [16]:
fig = figure(
    x_axis_label="Minutes",
    y_axis_label="Points",
    title="Minutes vs Points"
)

#glyphs
fig.line(x=nba["minutes"], y=nba["points"])


output_file(filename="bokeh_plot.html")
show(fig)

In [17]:
from bokeh.models import ColumnDataSource

In [22]:
source= ColumnDataSource(data=nba)

tooltips = [("Name", "@player"), ("Position", "@position"), ("Team", "@team")]

fig = figure(
    x_axis_label="Assists",
    y_axis_label="Steals",
    title="Assists vs Steals",
    tooltips = tooltips
)

#glyphs
fig.scatter(x="assists", y="steals", source=source)


output_file(filename="bokeh_plot.html")
show(fig)

In [26]:
source= ColumnDataSource(data=nba)

tooltips = [("Name", "@player"), ("Conference", "@conference"), ("Field Goal %", "@field_goal_perc{0.2f}")]

fig = figure(
    x_axis_label="Minutes",
    y_axis_label="Points",
    title="Minutes vs Points",
    tooltips = tooltips
)

#glyphs
fig.scatter(x="minutes", y="points", source=source)


output_file(filename="bokeh_plot.html")
show(fig)

In [27]:
from bokeh.models import Div
from bokeh.layouts import layout

In [28]:
df = pd.read_csv("datasets/stocks_cleaned.csv")
df.head()

   Unnamed: 0        date     open     high      low    close    volume  name
0           0  2014-06-02  90.5656  90.6899  88.9285  89.8071  92337903  AAPL
1           1  2014-06-03  89.7799  91.2485  89.7499  91.0771  73231620  AAPL
2           2  2014-06-04  91.0628  92.5556  90.8728  92.1171  83870521  AAPL
3           3  2014-06-05  92.3142  92.7670  91.8013  92.4785  75951141  AAPL
4           4  2014-06-06  92.8428  93.0370  92.0671  92.2242  87620911  AAPL

In [29]:
df["name"].unique()

array(['AAPL', 'AAP', 'ABBV', 'ADSK', 'ADS', 'AEP', 'AES', 'AIG', 'AIV',
       'AJG', 'AKAM', 'ALGN', 'ALL', 'ALXN', 'AMAT', 'AME', 'AMGN', 'AMG',
       'AMP', 'AMT', 'AMZN', 'ANDV', 'ANSS', 'ANTM', 'AON', 'AVB', 'BA',
       'BSX', 'CA', 'CBS', 'CHRW', 'CMS', 'COL', 'COST', 'CRM', 'CSCO',
       'CSX', 'CTAS', 'CTL', 'CTSH', 'CTXS', 'CVS', 'CVX', 'CXO', 'C',
       'DAL', 'DE', 'DFS', 'DGX', 'DG', 'DHI', 'DISCA', 'DISCK', 'DISH',
       'DIS', 'DLTR', 'DOV', 'DPS', 'DRE', 'DRI', 'DTE', 'DUK', 'DVA',
       'DVN', 'EA', 'EBAY', 'EIX', 'EMN', 'EQR', 'EQT', 'ESRX', 'ESS',
       'ETFC', 'ETN', 'ETR', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'FAST',
       'FBHS', 'FB', 'FDX', 'FIS', 'FITB', 'FLR', 'FL', 'FMC', 'FOX',
       'FRT', 'FTI', 'F', 'GD', 'GE', 'GGP', 'GM', 'GOOGL', 'GOOG', 'HBI',
       'HCN', 'HCP', 'HD', 'HP', 'HUM', 'IBM', 'INTU', 'IPG', 'IQV',
       'IRM', 'IR', 'ISRG', 'ITW', 'IT', 'JNJ', 'JNPR', 'JPM', 'JWN',
       'KEY', 'KIM', 'KORS', 'LLY', 'LNT', 'LOW', 'LUK', 'LUV', 'MAC',
       'MAR', 'MAS', 'MAT', 'MA', 'MCD', 'MCHP', 'MCK', 'MGM', 'MNST',
       'MOS', 'MRK', 'MSFT', 'MS', 'MTB', 'MTD', 'MU', 'NBL', 'NDAQ',
       'NEE', 'NFLX', 'NFX', 'NKE', 'NVDA'], dtype=object)

In [30]:
df_amazon = df.loc[df["name"] == "AMZN"]

In [31]:
df_amazon

,Unnamed: 0,date,open,high,low,close,volume,name
18600,18600,2014-06-02,312.59,312.60,307.00,308.84,2205909,AMZN
18601,18601,2014-06-03,305.75,307.92,305.07,307.19,2379273,AMZN
18602,18602,2014-06-04,306.85,309.50,303.84,306.78,2111176,AMZN
18603,18603,2014-06-05,308.10,327.94,306.90,323.57,7803760,AMZN
18604,18604,2014-06-06,325.00,330.88,324.93,329.67,5246723,AMZN
...,...,...,...,...,...,...,...,...
19525,19525,2018-02-01,1445.00,1459.88,1385.14,1390.00,9113808,AMZN
19526,19526,2018-02-02,1477.39,1498.00,1414.00,1429.95,11125722,AMZN
19527,19527,2018-02-05,1402.62,1458.98,1320.72,1390.00,11494985,AMZN
19528,19528,2018-02-06,1361.46,1443.99,1351.79,1442.84,11066819,AMZN
19529,19529,2018-02-07,1449.00,1460.99,1415.15,1416.78,7162741,AMZN

In [40]:
dates=df_amazon["date"].copy()
df_amazon.loc[:,"date"] = pd.to_datetime(dates)

In [50]:
from bokeh.models import DatetimeTickFormatter
from bokeh.models import BoxAnnotation
from bokeh.models import Spinner

In [49]:
source = ColumnDataSource(data=df_amazon)

fig = figure(
    x_axis_label="Date",
    y_axis_label="Stock Price ($)",
)

fig.line(x="date", y="close", source =source, color= "purple")
fig.xaxis[0].formatter = DatetimeTickFormatter(months="%b %Y")

box= BoxAnnotation(bottom=df_amazon["close"].mean(), fill_color="green", fill_alpha=0.3)
fig.add_layout(box)

title=Div(text="amazon stock prices")


output_file(filename="amazon_sctock.html")
show(layout([title], [fig]))

In [62]:
source = ColumnDataSource(data=df_amazon)

fig = figure(
    x_axis_label="Date",
    y_axis_label="Stock Price ($)",
)

fig_r =fig.line(x="date", y="close", source =source, color= "purple", line_width=2)
fig.xaxis[0].formatter = DatetimeTickFormatter(months="%b %Y")

box= BoxAnnotation(bottom=df_amazon["close"].mean(), fill_color="green", fill_alpha=0.3)
fig.add_layout(box)

title=Div(text="amazon stock prices")

spinner = Spinner (title="Title", low=0, high= 1, step=0.1, value=0.3, width=60)
spinner.js_link("value", box, "fill_alpha")

spinner_linewidth = Spinner (title="Line Width", low=0, high= 10, step=1, value=1, width=60)
spinner_linewidth.js_link("value", fig_r.glyph, "line_width")

output_file(filename="amazon_sctock.html")
show(layout([title], [spinner, spinner_linewidth, fig]))